/* Makes our label white. */
.blocklyTreeLabel {
    color: white;
  }
  /* Adds padding around the group of categories and separators. */
  .blocklyToolboxContents {
    padding: .15em;
  }
  /* Adds space between the categories, rounds the corners and adds space around the label. */
  .blocklyTreeRow {
    padding: 3px;
    margin-bottom: .15em;
    border-radius: 6px;
  }

  /* Added Styles */
  .fa {
	width: 18.5px;
	text-align: center;
  }

  .fa-caret-right {
	width: 0px;
	left: -10px;
	top: .75px;
	position: relative;
  }
	
  .fa-code {
	color: lightgrey;
	width: 0px;
	left: -15px;
	top: .75px;
	position: relative;
  }

  /* Stacks the icon on top of the label. */
  .blocklyTreeRowContentContainer {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    align-items: center;
  }
  .blocklyTreeRow {
    height: initial;
  }
  
  